
input{
  display: block;
  color: darkblue;
  font-weight: 600;
  font-size: 40px;
  border: 2px solid darkblue;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  box-shadow: inset;
  background-color: white;
}
